
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@keyframes animate {
    0%{
        margin-left: 100px;
    }
    100%{
        margin-left: 0px;
    }
}
.armor{
    animation-duration: 15s;
    animation-name: amimate;
}